**/node_modules
**/dist
**/coverage
**/uploads
**/tests
**/.DS_Store
**/*.log
**/*.tsbuildinfo
**/*.md
**/Dockerfile
**/.env
**/.env.*
!**/.env.example
.git
.github
.husky
.vscode
.dockerignore
compose.yaml
docs
biome.json
cspell.json
.markdownlint.json
.editorconfig
