* text=auto eol=lf

*.css   diff=css
*.html  diff=html
*.md    diff=markdown
*.svg   text

*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
*.avif  binary
*.ico   binary

package-lock.json -diff linguist-generated=true
